if jquery
	script(src=`${Url}${jquery_link}`)

if modernizr
	script(src=`${Url}${modernizr_link}`)
if wowjs
	script(src=`${Url}${wowjs_link}`)
if slimjs
	script(src=`${Url}${slim_link}`)
if popper
	script(src=`${Url}${popper_link}`)
if bootstrap
	script(src=`${Url}${bootstrap_link}`)
if swiper
	script(src=`${Url}${swiper_link}`)
if fancybox
	script(src=`${Url}${fancybox_link}`)
